@page
@model BulkyBook.Areas.Identity.Pages.Account.CheckEmailModel
@{
    ViewData["Title"] = "CheckEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div class="text-center text-success">
    We send to you an email . Please check your inbox .
</div>

